# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Environment variables
.env

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
